<h1>The Funniest People Around!</h1>
<div id="page-container">
  <% @comedians.each do |comedian| %>
    <section class="comedian-box" id="comedian-<%= comedian.id %>">
      <img src="<%= comedian.image_url %>"></img>
      <h2><%= comedian.name %></h2>
      <p>Age: <%= comedian.age %></p>
      <p>Birthplace: <%= comedian.birthplace %></p>
      <p>Specials:
        <% comedian.specials.each do |special| %>
        <ul>
          <li><%= special.name %> - <%= special.runtime_mins %> minutes</li>
        </ul>
        <% end %>
      </p>
    </section>
  <% end %>
</div>
